@font-face {
	font-family: 'rabtus';
	src: url(http://www.mikimottes.com/fonts/rabtus_ng-webfont.eot);
	src: url(http://www.mikimottes.com/fonts/rabtus_ng-webfont.eot?#iefix) format('embedded-opentype'),
		    url(http://www.mikimottes.com/fonts/rabtus_ng-webfont.ttf) format('truetype'),
		    url(http://www.mikimottes.com/fonts/rabtus_ng-webfont.svg#rabtusregular) format('svg');
	font-weight: normal;
	font-style: normal;
}

nav{
	z-index:20;
	position:absolute;
	left:50%;
	top:346px;
	width:589px;
	height:98px;
	padding:59px 0 0 0;
	margin:0 0 0 -300px;
	background:url(http://www.mikimottes.com/images/menu_bar.png) no-repeat;
}

nav.clsFixed{
	position:fixed;
	top:-5px;
}

nav ul{
	text-align:center;
	padding:0;
	margin:0;
}

nav ul li{
    font-family: rabtus, Helvetica, Arial;
	font-size:34px;
	line-height:20px;
	cursor:pointer;

	position:relative;
	display:inline-block;
	vertical-align:top;
	margin:0 12px 0 12px;
}

nav ul li:hover{
	color:#e7e7e7;
}

@media only screen and (max-width : 1270px) {
	.Navbar{
		width:100%;
	}
}

@media only screen and (max-width : 640px) {
	html{
		height:1541px;
		overflow-y:scroll;
	}

	.Navbar{
		zoom:50%;
	}

	.Navbar{
		width:640px;
	}
}