.cat_eyes {
  position: absolute;
  left: 50%;
  z-index: 10;
  top: 267px;
  margin-left: 777px;
  width: 18px;
  height: 9px;
}

div.anim {
  background-position: 0 0;
  /* background-repeat: no-repeat; */
}

.cat_eyes .anim {
  width: 18px;
  height: 9px;
  background-image: url(http://www.mikimottes.com/images/illustrations/cat_eyes.png);
  -webkit-animation: cat_eyes 7s steps(4) infinite;
  animation: cat_eyes 7s steps(4) infinite;
}

@keyframes cat_eyes {
  0% {
    background-position: 0;
  }

  96% {
    background-position: 0;
  }
  98% {
    background-position: -72px;
  }
  100% {
    background-position: 0;
  }
}
