.overlay {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 22;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay-header {
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.overlay-header-left {
  width: 15%;
  display: flex;
  justify-content: center;
}
.overlay-header-left p {
  align-self: flex-end;
  color: #fff;
  font-family: rabtus, Helvetica, Arial;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  margin-left: 30px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.overlay-header-left p::before {
  content: "";
  position: absolute;
  right: 100%;
  width: 29px;
  height: 26px;
  background: url("http://www.mikimottes.com/images/lb_arrows.png") no-repeat;
  background-position: -29px 0;
  margin-right: 10px;
}

.overlay-header-center {
  height: 102px;
  width: 70%;
  background: url("http://www.mikimottes.com/images/lb_title.png") no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
}

.overlay-header-center h3 {
  color: #000000;
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  font-family: rabtus, helvetica;
}

.overlay-header-center p {
  color: #4c390b;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: rabtus, Arial, Helvetica, sans-serif;
  max-width: 517px;
  margin-bottom: 0px;
}

.overlay-header-right {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.close-icon {
  background: url("http://www.mikimottes.com/images/lb_close.png") no-repeat;
  width: 48px;
  height: 48px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.close-icon:hover {
  transform: rotate(180deg);
}

.overlay-header-right p {
  align-self: flex-end;
  color: #fff;
  font-family: rabtus, Helvetica, Arial;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  margin-right: 40px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.overlay-header-right p::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 29px;
  height: 26px;
  background: url("http://www.mikimottes.com/images/lb_arrows.png") no-repeat;
  background-position: -87px 0;
  margin-left: 10px;
}

.overlay-body {
  width: 100%;
  padding: 0 20px;
}
